<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Supero Tasklist</a>
  </nav>


<div style="d-lg-none container-flex d-flex h-100">
    <div class="row justify-content-center align-self-center center-div">
        <div class="container mt-5">
          
                <tasklist></tasklist>
            
        </div>
    </div>
</div>


<footer class="app-footer">
    <div class="footer fixed-bottom">
        <div class="ml-auto">
          <span>Powered by</span>
          <a href="#"> Supero</a>
        </div>
    </div>
</footer>


